<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ServerIP" value="ec2-3-68-73-27.eu-central-1.compute.amazonaws.com" />
    <add key="ServerPort" value="443" />
    <add key="Email" value="yuval555@gmail.com" />
    <add key="BtcWalletAddress" value="bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh" />
    <add key="BtcAmount" value="0.035" />
  </appSettings>
</configuration>